.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  z-index: 1001; /* Ensure it sits above the extranav */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Define a fixed height for the header */
}

.navbar-logo img {
  height: 50px;
}

.navbar-welcome h1 {
  margin: 0;
}

.navbar-logout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logout svg {
  color: #f00;
  transition: color 0.3s;
}

.navbar-logout svg:hover {
  color: #c00;
}